.logo-data{
  img{
    width: 55px;
    height: 55px;
    border-radius: 50%
  }
  span{
    font-size: 18px;
    font-weight: 600;
    color:#000;
    padding-left:10px;
  }
  .header{
    font-size: 35px;
  }

}
